%p#notice= notice

%p
  %b Name:
  = @folder.name
%p
  %b Parent:
  = @folder.parent_id
%p
  %b User:
  = @folder.user_id

= link_to 'Edit', edit_folder_path(@folder)
\|
= link_to 'Back', folders_path
