-#.container
-#  #login-wraper
-#    %form.form.login-form
-#    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#      %legend
-#        Sign in to
-#        %span.blue File Sucker
-#      .body
-#        %label Email
-#        = f.email_field :email, autofocus: true, type:'text'
-#        %label Password
-#        = f.password_field :password, autocomplete: "off"
-#      .footer
-#        %label.checkbox.inline
-#          %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}
-#            Remember me
-#        = f.submit "Login", :class => 'button btn btn-success'
-#
-#%footer.white.navbar-fixed-bottom
-#  Don't have an account yet?
-#  = link_to 'Register', new_user_registration_path , class: 'btn btn-black'
- unless user_signed_in?
  %h1 Welcome to File Sucker
  %p File sharing web application you can't ignore.
- else
  %upload_link
    - if @current_folder
      = link_to "Upload", new_sub_file_path(@current_folder)
      = link_to "New Folder", new_sub_folder_path(@current_folder)
    - else
      = link_to "Upload", new_asset_path
      = link_to "New Folder", new_folder_path


  .breadcrumbs
    - if @current_folder #checking if we are under any folder
      = link_to "ShareBox", root_url
      - @current_folder.ancestors.reverse.each do |folder|
        » #{link_to folder.name, browse_path(folder)}
      »  #{@current_folder.name}
    - else #if we are not under any folder
      ShareBox

  .asset_list_header
    .file_name_header File Name
    .file_size_header Size
    .file_last_updated_header Modified
  .asset_list
    - @folders.each do |folder|
      .asset_details.folder
        .file_name= link_to folder.name, browse_path(folder)
        .file_size -
        .file_last_updated -
        .actions
          .share
            = link_to "Share"
          .rename
            = link_to "Rename", rename_folder_path(folder)
          .delete
            = link_to "Delete", folder, :confirm => 'Are you sure?', :method => :delete
    - @assets.each do |asset|
      .asset_details
        .file_name= link_to  asset.uploaded_file.file.filename, download_url(asset)
        .file_size= asset.file_size
        .file_last_updated= nil
        .actions
          .download
            = link_to "Download", download_url(asset)
          .delete
            = link_to "Delete", asset, :confirm => 'Are you sure?', :method => :delete
