%h1 New asset
.breadcrumbs
  - if @current_folder #checking if we are under any folder
    = link_to "ShareBox", root_url
    - @current_folder.ancestors.reverse.each do |folder|
      » #{link_to folder.name, browse_path(folder)}
    »  #{@current_folder.name}
  - else #if we are not under any folder
    ShareBox
= render 'form'

- if @asset.folder
  = link_to "Back to '#{@asset.folder.name}' Folder", browse_path(@asset.folder)
- else
  = link_to "Back", root_url
